<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>piStream</title>
        <script src="/static/jspm_packages/system.js"></script>
        <script src="/static/config.js"></script>
        <script>
            System.import('lib/main.js');
        </script>
        <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
        </style>
    </head>

    <body ng-cloak>
        <div class="jumbotron" ng-controller="pistream.PiStreamCtl as PiStreamCtl">
            <div class="container" ng-if="PiStreamCtl.loaded">

                <div class="row">
                    <div class="col-md-12">
                        <h2>Sopcast: </h2>
                    </div>
                    <div class="col-md-6">
                        <form>
                            <legend>Launch New Stream</legend>

                            <div class="form-group">

                                <label for="url">URL</label>
                                <input type="text" class="form-control" id="url" placeholder="Insert URL" ng-model="PiStreamCtl.sopcast_url">

                            </div>


                            <button type="submit" class="btn btn-primary" ng-click="PiStreamCtl.launchSopcast()">Open</button>
                        </form>
                    </div>
                    <div class="col-md-6" ng-repeat="proc in PiStreamCtl.sopcast.processes">
                        <p ng-cloak>
                            <span class="badge">{{ proc.pid }}</span>
                            {{ proc.cmdline.join(' ') }}

                        </p>
                        <button type="button" class="btn btn-danger" ng-click="PiStreamCtl.kill(proc)">Kill</button>
                    </div>


                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h2>Mplayer: </h2>
                    </div>
                    <div class="col-md-6">
                        <form>
                            <legend>Run Player</legend>

                            <div class="form-group">

                                <label for="url">URL</label>
                                <input type="text" class="form-control" id="url" placeholder="Insert URL" ng-model="PiStreamCtl.mplayer_url">
                            </div>


                            <button type="submit" class="btn btn-primary" ng-click="PiStreamCtl.launchMplayer()">Open</button>
                        </form>
                    </div>
                    <div class="col-md-6" ng-repeat="proc in PiStreamCtl.mplayer.processes">
                        <p ng-cloak>
                            <span class="badge">{{ proc.pid }}</span>
                            {{ proc.cmdline.join(' ') }}

                        </p>
                        <button type="button" class="btn btn-danger" ng-click="PiStreamCtl.kill(proc)">Kill</button>
                    </div>
                </div>

            </div>
        </div>
    </body>
</html>
