<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title Page</title>
        <script src="/static/jspm_packages/system.js"></script>
        <script src="/static/config.js"></script>
        <script>
            System.import('lib/main.js');
        </script>
    </head>

    <body>
        <div class="jumbotron" ng-controller="pistream.PiStreamCtl as PiStreamCtl">
            <div class="container">
                <h1>Processes:</h1>
                <p>
                    {{ PiStreamCtl.processes.length }} processes
                </p>
                <p ng-repeat="process in PiStreamCtl.processes">
                    {{ process.cmdline.join(' ') }}<a class="btn btn-primary btn-lg">Learn more</a>
                </p>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </body>
</html>